body{
    background-color: rgb(32, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right,rgb(63, 13, 68),rgb(29, 0, 27));
    justify-content: center;
    height: 80vh;
    width: 98vw;
}

.container{
    color: white;
    border: 2px solid white;
    height: 25vh;
    width: 75vw;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}